/* CSS Document */
:root {
	--primarycolor: white;												/* primary, secondary, and accent colors*/
	--secondarycolor: darkgray;
	--accent: hotpink;
	--text: black;
}																					
* {
	margin:0;
	padding:0;
}
.colorButton{
	background-color:var(--primarycolor);
	align-self: center;
	outline-color:var(--accent);
	margin-bottom: 2px;
	padding:20px;
	font-size: 20px;
	letter-spacing: 8px;
	font-family:"Open Sans";
	font-weight:bold;
	color:var(--accent);
	cursor: pointer;
	border:solid;
	transition:0.5s;
}
.colorButton:hover{
	background-color:var(--accent);
	color:var(--primarycolor);
	transition:0.5s;
}
.dropdown{
	position:relative;

}
.dropdownContent{
	display: none;
	position: relative;
	background-color: var(--primarycolor);
	overflow:auto;
	min-width: 150px;
	letter-spacing:6px;
	z-index:1;
	animation-name: popupColors;
	animation-duration:0.5s;
	transition:0.5s;
}
.dropdownContent a{
	color:var(--text);
	text-decoration: none;
	width:400px;
	padding:12px;
	margin:15px;
	cursor:pointer;
	display:block;
	transition:0.25s;
}

.dropdownContent a:hover{
	background-color: var(--secondarycolor);
}

@keyframes popupColors{
	0%{top:150px; opacity:0;}
	100%{top:0px; opacity:1;}
}
.show{
	display:block;
}
.colorLabel{
	display: inline-block;
	width:40px;
	margin-left:8px;
	height:20px;
	border-radius: 25px;
	border:solid;
	border-width: 1px;
	border-color: var(--text);
	background-color:var(--labelColor);		
}
body {

	background-color: var(--primarycolor);
}
h1{
	font-family:"Open Sans";
	font-size: 50px;
	color:var(--accent);
	margin-top:80px;
	transition:0.5s;
	text-shadow: 3px 3px 2px var(--secondarycolor);
	
}

.frontPage{
	position:relative;
	top:50%;
}

@keyframes popupAnimation{
	from{top:64px; opacity:0}
	to{top:0; opacity:1}
}

p{
	margin:30px;
	color:var(--text);
	transition:0.3s;
}
.stylized {
	display:inline-block;
	color:var(--accent);
	font-weight:bold;
	transition:0.3s;
	position:relative;
}
.stylized:hover{
	transform:translateY(-4px);
	cursor:pointer;
	transition:0.3s;
}
.navbar{
	background-color:var(--secondarycolor);
	overflow:hidden;
	position:fixed;
	width:100%;
	top:0;
	transition:0.5s;
	z-index: 2;
}
.navbar a{
	float:left;
	display:block;
	text-decoration: none;
	color:var(--text);
	padding: 12px;
	font-size:18px;
	font-family:"Open Sans";
	transition:0.2s;
}
.navbar a:hover{
	background-color:var(--primarycolor);
	color:var(--accent);
	transform: translateY(5px);
}
a:link {
	text-decoration:none;
	color:var(--text);
}
div{
	font-family:"Open Sans";
	color:var(--text);
}

.mediaSpace{
	margin-left:300px;
	margin-right:300px;
	animation-name:popupAnimation;
	animation-duration: 0.75s;
	position:relative;
}
.mediaBox{
	display:inline-block;
	background-color: var(--primarycolor);
	box-shadow: 2px 2px 4px black;
	width:225px;
	height:300px;
	margin-top:100px;
	margin-left:75px;
	transition:0.2s;
	border:solid;
	border-radius: 20px;
	border-color:var(--secondarycolor);
	border-width: 3px;
	text-align: center;
}


.mediaBox:hover{
	transition: all 0.25s ease;
	border:solid;
	cursor:pointer;
	border-color: var(--accent);
	border-width: 3px;

}
.mediaBoxIcon{
    margin-top: 50px;
	margin-bottom:50px;
    position: absolute;
    transition: 0.25s ease;
    text-align: center;
    width: 225px;
    height: 200px;
}


.mediaBoxIcon:hover{
	color:var(--accent);
	transition:0.25s ease;
	transform:rotate(-15deg);
}

.nextpageArrow{
	display: block;
	font-size:64px;
	transition:0.5s;
	position:relative;
	background-color:transparent;
	margin-top:20px;
	margin-bottom:20px;
	border: none;
}

.nextpageArrow:hover{
	cursor:pointer;
	transform: translateX(20px);
	transition:0.5s;

}

.nextpageArrow a{
	color: var(--text);
	transition:0.3s;
}

.nextpageArrow a:hover{
	color:var(--accent);
	transition:0.3s;
}

.aboutText{
	position:relative;
	margin:auto;
	height:450px;
	line-height: 3.0;
	width:1600px;
	animation-name: popupAnimation;
	animation-duration: 0.5s;
}
.aboutText h1{
	font-size: 100px;
}

.aboutText p{
	font-size:16px;
	padding-bottom: 50px;
}


@keyframes popfromLeftAnimation{
	from{left:150px; opacity:0}
	to{left:0; opacity:1}
}

@keyframes popfromRightAnimation{
	from{right:50px; opacity:0}
	to{right:0; opacity:1}
}

.downloadButton{
	font-size:36px;
	font-weight:64px;
	padding:0px 24px 0px 24px;
	cursor:pointer;
	transition:0.5s;
	position:relative;
}


.downloadButton a:hover{
	transition:0.25s;
	color:lightgreen;
	border-color: lightgreen;
}

.experiencePage{
	animation-name: popupAnimation;
	animation-duration: 0.75s;
	position:relative;
}

.projectBlock{
	color: var(--secondarycolor);
	height:400px;
	width:1000px;
	padding:auto;
	margin:auto;
	margin-bottom:100px;
	border-style: solid;
	box-shadow: 4px 4px 0 0 black;
	border-radius: 32px;
}

