:root {
  --bs-body-font-family: Sans-Serif;
  --primary-color: white;
  --secondary-color: darkgray;
  --accent: darkred;
  --text: black;
}

body {
  background-color: var(--primary-color);
  transition:0.3s;
}

.nav-item {
  font-size: 20px;
  transition: 0.25s;
  background-color: var(--secondary-color);
}

.navbar-collapse {
  transition:0.3s;
  background-color: var(--secondary-color);
}

.nav-item:hover {
  transition: 0.25s;
  background-color: var(--primary-color);
}

.nav-link {
  color: var(--text);
}

.nav-link:hover {
  transition: 0.3s;
  color: var(--accent);
}

.display-4 {
  color: var(--accent);
  font-weight: bold;
}

.colorButton {
  color: var(--accent);
  outline-color: var(--accent);
  margin-bottom: 2px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 10px;
  color: var(--accent);
  cursor: pointer;
  border: solid;
  background-color: var(--primary-color);
  font-family: sans-serif;
  border-radius: 0px;
  border-color: var(--accent);
  transition: 0.3s;
}

.btn-light:hover {
  background-color: var(--accent);
  color: var(--primary-color);
  transition: 0.3s;
  border-color: var(--accent);
}

.bg-light {
  background-color: var(--secondary-color);
}

.spaced-text {
  letter-spacing: 3px;
  color: var(--text);
}

.lead {
  font-family: sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
  color: var(--accent);
  font-size: 25px;
}

.important {
  color: var(--accent);
  font-weight: bold;
  text-decoration: none;
}

.important:hover {
  color: var(--accent);
  font-weight: bold;
  cursor: pointer;
}

.courses {
  font-family: sans-serif;
  color: var(--text);
  letter-spacing: 2px;
  list-style: none;
  text-align: center;
}

.courses li {
  padding-top: 24px;
}

.colorLabel {
  display: inline-block;
  width: 40px;
  margin-left: 8px;
  height: 20px;
  border-radius: 25px;
  border: solid;
  transition: 0.3s;
  border-width: 1px;
  border-color: var(--text);
  background-color: var(--labelColor);
}

.dropdownContent {
  display: none;
  font-size: 12px;
  letter-spacing: 4px;
  color: var(--text);
  font-family: sans-serif;
  font-weight: bold;
}

.dropdownContent a {
  color: var(--accent);
  transition: 0.3s;
}

.dropdownContent a:hover {
  background-color: var(--secondary-color);
  transition: 0.3s;
  cursor: pointer;
}
