/* CSS Document */


body {
	font-family:verdana;
	background-color: lightgray;
}

p{

	font-family:verdana;

}

h1{
	background-color:lightgray;
	font-family:verdana;
	border-color:black;
	color:hotpink;
}

span{
	color:hotpink;
	font-weight:bold;
}

.navbar{
	background-color:darkgray;
	overflow:hidden;
	position:fixed;
	width:100%;
	top:0;
}
.navbar a{
	float:left;
	display:block;
	text-decoration: none;
	text-align: center;
	color:white;
	padding: 16px;
	font-size:18px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
.navbar a:hover{
	background-color:lightgray;
	color:hotpink;
	
}
