/* CSS Document */
:root {
	--primarycolor: white;												/* primary, secondary, and accent colors*/
	--secondarycolor: darkgray;
	--accent: hotpink;
	--text: black;
}																					
* {
	margin:0;
	padding:0;
}
.colorButton{
	background-color:var(--primarycolor);
	align-self: center;
	outline-color:var(--accent);
	margin-bottom: 2px;
	padding:20px;
	font-size: 20px;
	letter-spacing: 8px;
	font-family:"Open Sans";
	font-weight:bold;
	color:var(--accent);
	cursor: pointer;
	border:none;
}
.colorButton:hover{
	background-color:var(--accent);
	color:var(--primarycolor);
	transition:0.5s;
}
.dropdown{
	position:relative;

}
.dropdownContent{
	display: none;
	position: relative;
	background: var(--primarycolor);
	overflow:auto;
	min-width: 150px;
	letter-spacing:6px;
	z-index:1;
	animation-name: popupAnimation;
	animation-duration:2s;
	transition:0.5s;
}
.dropdownContent a{
	color:var(--text);
	text-decoration: none;
	padding:12px;
	margin:15px;
	cursor:pointer;
	display:block;
	transition:0.5s;
}
@keyframes popupAnimation{
	0%{top:150px; opacity:0;}
	100%{top:0px; opacity:1;}
}
.show{
	display:block;
}
.colorLabel{
	display: inline-block;
	width:40px;
	margin-left:8px;
	height:20px;
	outline-style: solid;
	outline-width: 1px;
	border-radius: 0px;
	background-color:var(--labelColor);		
}
.interestingImage:hover{
	
}

body {
	font-family:"Open Sans";
	background-color: var(--primarycolor);
	margin-top:32px;
}
h1{
	color:var(--accent);
	margin-top:32px;
	transition:0.5s;
}
p{
	margin:30px;
	color:var(--text);
	transition:0.5s;
}
span{
	color:var(--accent);
	font-weight:bold;
}
.navbar{
	background-color:var(--secondarycolor);
	overflow:hidden;
	position:fixed;
	width:100%;
	top:0;
	transition:0.5s;
}
.navbar a{
	float:left;
	display:block;
	text-decoration: none;
	text-align: center;
	color:var(--text);
	padding: 12px;
	font-size:18px;
	font-family:"Open Sans";
	transition:0.5s;
}
.navbar a:hover{
	background-color:var(--primarycolor);
	color:var(--accent);
}
a:link {
	text-decoration:none;
}
a:hover{
	color:var(--accent);
}


