/* CSS Document */


body {
	font-family:verdana;
	margin:60px;
	background-color: lightgray;
}

p{
	background-color:lightgray;
	font-family:verdana;
	border: thin solid black;
}

h1{
	background-color:lightgray;
	font-family:verdana;
	border-color:black;
	color:hotpink;
}

a:link{
	color: white;
}

a:hover{
	color:hotpink;
}

li{
	float:right;
}

li a{
	display:block;
	text-align: center;
	color:white;
	padding: 16px;
	text-decoration: none;
}

li a:hover{
	background-color:lightgray;
}

ul {
	background-color:darkgray;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
}
