/* CSS Document */

:root {
	--primarycolor: white;												/* primary, secondary, and accent colors*/
	--secondarycolor: darkgray;
	--accent: hotpink;
	--text: black;
}																					

* {
	margin:0;
	padding:0;
}

button{
	border-color:var(--accent);
	padding:15px;
	font-family: "open-sans";
	color:var(--primarycolor);
	font-size: 17px;
	background-color: var(--accent)
}

body {
	font-family:"Open Sans";
	background-color: var(--primarycolor);
	margin-top:32px;
}

h1{
	color:var(--accent);
	text-align: center;
}

p{
	text-align:center;
	margin:30px;
}

span{
	color:var(--accent);
	font-weight:bold;
}

.navbar{
	background-color:var(--secondarycolor);
	overflow:hidden;
	position:fixed;
	width:100%;
	top:0;
}
.navbar a{
	float:left;
	display:block;
	text-decoration: none;
	text-align: center;
	color:var(--primarycolor);
	padding: 12px;
	font-size:18px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
.navbar a:hover{
	background-color:var(--primarycolor);
	color:var(--accent);
}

a:link {
	text-decoration:none;
}
a:hover{
	color:var(--accent);
}