/* CSS Document */

:root {
	--primarycolor: white;												/* primary, secondary, and accent colors*/
	--secondarycolor: darkgray;
	--accent: hotpink;
	--text: black;
}																					

* {
	margin:0;
	padding:0;
}

.colorButton{
	background-color:var(--primarycolor);
	outline-style: solid;
	align-self: center;
	outline-color:var(--accent);
	margin-bottom: 2px;
	padding:20px;
	font-size: 20px;
	letter-spacing: 8px;
	font-family:"Open Sans";
	font-weight:bold;
	color:var(--accent);
	cursor: pointer;
	border:none;
}

.dropdown{
	position:relative;

}

.dropdownContent{
	display: none;
	position: relative;
	background: var(--primarycolor);
	overflow:auto;
	min-width: 150px;
	letter-spacing:6px;
	z-index:1;
}

.dropdownContent a{
	color:var(--text);
	display:block;
	text-decoration: none;
	padding:12px;
	margin:15px;
	outline-style:solid;
	cursor:pointer;
}
.show{
	display:block;
}

body {
	font-family:"Open Sans";
	background-color: var(--primarycolor);
	margin-top:32px;
}

h1{
	color:var(--accent);
	text-align: center;
}

p{
	text-align:center;
	margin:30px;
	color:var(--text);
}

span{
	color:var(--accent);
	font-weight:bold;
}

.navbar{
	background-color:var(--secondarycolor);
	overflow:hidden;
	position:fixed;
	width:100%;
	top:0;
}
.navbar a{
	float:left;
	display:block;
	text-decoration: none;
	text-align: center;
	color:var(--primarycolor);
	padding: 12px;
	font-size:18px;
	font-family:"Open Sans";
}

.navbar a:hover{
	background-color:var(--primarycolor);
	color:var(--accent);
}

a:link {
	text-decoration:none;
}
a:hover{
	color:var(--accent);
}


